body {
	background-color: #F9F9F9;
	color: #424242;
	font-family: "Open Sans", sans-serif;
	text-align: center;
}

main {
	max-width: 800px;
	margin: auto;
}

.container {
	background-color: white;
	border-radius: 8px;
	padding: 2rem;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

button {
	font-family: "Open Sans", sans-serif;
	cursor: pointer;
	font-size: 1rem;
}

button.primary {
	background-color: #990AE3;
	color: white;
	border-radius: 8px;
	border: none;
	padding: 0.5rem 1rem;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	transition: box-shadow 200ms ease-in-out;
}

button.primary:hover {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

