body {
	background-color: #F9F9F9;
	color: #424242;
	font-family: "Open Sans", sans-serif;
	text-align: center;
}

main {
	max-width: 800px;
	margin: auto;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  transition: all 0.2s ease;
}

.button:active {
  transform: scale(0.96);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}



